@model GuildCars.UI.Models.CarAddViewModel
@{
    ViewBag.Title = "Add";
}


<style>
    .col-25 {
        float: left;
        width: 50%;
        padding-right: 16px;
    }

    .largeTextBox {
        height: 140px;
        min-width: 97%;
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
        <h2>Add Vehicle</h2>
        @using (Html.BeginForm("Add", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAddVehicle" }))
        {
            @Html.ValidationSummary()
            <div class="row">
                <div class="form-group col-25">
                    <label>Make</label>
                    @Html.DropDownListFor(m => m.Car.MakeID, new SelectList(Model.Makes, "MakeID", "MakeName", Model.MakesID), new { @class = "form-control" })
                </div>
                <div class="form-group col-25">
                    <label>Model</label>
                    @Html.DropDownListFor(m => m.Car.ModelID, new SelectList(Model.Models, "ModelID", "ModelName", Model.ModelsID), new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-25">
                    <label>Condition</label>
                    @Html.DropDownListFor(m => m.Car.ConditionID, new SelectList(Model.Types, "ConditionID", "ConditionType", Model.TypesID), new { @class = "form-control" })
                </div>
                <div class="form-group col-25">
                    <label>Body Style</label>
                    @Html.DropDownListFor(m => m.Car.BodyStyleID, new SelectList(Model.BodyStyles, "BodyStyleID", "BodyStyleName", Model.BodyStylesID), new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-25">
                    <label>Year</label>
                    @Html.TextBoxFor(m => m.Car.Year, new { @class = "form-control" })
                </div>
                <div class="form-group col-25">
                    <label>Transmission</label>
                    @Html.DropDownListFor(m => m.Car.TransmissionID, new SelectList(Model.Transmissions, "TransmissionID", "TransmissionType", Model.TransmissionsID), new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-25">
                    <label>Exterior Color</label>
                    @Html.DropDownListFor(m => m.Car.ExteriorColorID, new SelectList(Model.ExteriorColors, "ExteriorColorID", "Color", Model.ExteriorColorsID), new { @class = "form-control" })
                </div>
                <div class="form-group col-25">
                    <label>Interior Color</label>
                    @Html.DropDownListFor(m => m.Car.InteriorColorID, new SelectList(Model.InteriorColors, "InteriorColorID", "Color", Model.InteriorColorsID), new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-25">
                    <label>Mileage</label>
                    @Html.TextBoxFor(m => m.Car.Mileage, new { @class = "form-control" })
                </div>
                <div class="form-group col-25">
                    <label>VIN</label>
                    @Html.TextBoxFor(m => m.Car.VIN, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-25">
                    <label>MSRP</label>
                    @Html.TextBoxFor(m => m.Car.MSRP, new { @class = "form-control" })
                </div>
                <div class="form-group col-25">
                    <label>Sale Price</label>
                    @Html.TextBoxFor(m => m.Car.SalePrice, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>Description</label>
                    @Html.TextAreaFor(m => m.Car.Description, new { @class = "form-control largeTextBox" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>Image</label>
                    <input id="ImageUpload" name="ImageUpload" type="file" class="form-control" />
                </div>
            </div>
            <button class="btn btn-primary">Add</button>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            transmissionSelect();

            var $trans = $('#transmissions');

            $('#frmAddVehicle').validate({
                rules: {
                    'Car.MakeID': {
                        number: true,
                        required: true
                    },
                    'Car.ModelID': {
                        number: true,
                        required: true
                    },
                    'Car.ConditionID': {
                        number: true,
                        required: true
                    },
                    'Car.BodyStyleID': {
                        number: true,
                        required: true
                    },
                    'Car.Year': {
                        number: true,
                        required: true
                    },
                    'Car.TransmissionID': {
                        number: true,
                        required: true
                    },
                    'Car.ExteriorColorID': {
                        number: true,
                        required: true
                    },
                    'Car.InteriorColorID': {
                        number: true,
                        required: true
                    },
                    'Car.Mileage': {
                        required: true
                    },
                    'Car.VIN': {
                        required: true
                    },
                    'Car.MSRP': {
                        number: true,
                        required: true
                    },
                    'Car.SalePrice': {
                        number: true,
                        required: true
                    },
                    'Car.Description': {
                        required: true
                    },
                    'ImageUpload': {
                        required: true
                    }
                }
            });
        });

        function transmissionSelect() {
            var html = '<option value="1">Automatic</option>';
            html += '<option value="2">Manual</option>';
            $('#transmissions').html(html);
        }


    </script>
}
