@model GuildCars.UI.Models.ModelsViewModel
@{
    ViewBag.Title = "Models";
}

<style>
    .col-25 {
        float: left;
        width: 50%;
        padding-right: 16px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h2>Models</h2>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
        <h2>Add Model</h2>
        @using (Html.BeginForm("Models", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAddVehicle" }))
        {
            @Html.ValidationSummary()
            <div class="row">
                <div class="form-group col-25">
                    <label>Make</label>
                    @Html.DropDownListFor(m => m.Car.MakeID, new SelectList(Model.Makes, "MakeID", "MakeName", Model.MakesID), new { @class = "form-control" })
                </div>
                <div class="form-group col-25">
                    <label>Model</label>
                    @Html.TextBoxFor(m => m.Car.Model.ModelName, new { @class = "form-control" })
                </div>
            </div>
            <button class="btn btn-primary">Add</button>
        }
    </div>
</div>

<br />
<div>
    <table>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Date Added</th>
            <th>User</th>
        </tr>

        @foreach (var make in @Model.ModelsVM)
        {
            <tr>
                <td>@make.MakeName</td>
                <td>@make.ModelName</td>
                <td>@make.DateAdded</td>
                <td>@make.User</td>

            </tr>
        }

    </table>
</div>


@section scripts
{
    <script>       

            $('#frmAddModel').validate({
                rules: {
                    'Model.MakeID': {
                        required: true
                    }
                }
            });
        });

    </script>
}
